<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
    <div class="rounded-xl w-[80%] py-[10%] bg-gray-400 m-auto">
      <h1 class="text-center text-8xl font-extrabold text-gray-800">About the Application</h1>
      <p class="w-[80%] text-center font-semibold m-auto mt-5 text-gray-600">Lorem ipsum dolor, sit amet consectetur
        adipisicing elit.
        Quisquam,
        culpa
        alias! Magni, sequi
        ex assumenda
        soluta eveniet voluptates voluptate adipisci nihil reprehenderit et, architecto vitae facere delectus maiores
        minus. Voluptate!</p>
      <p class="flex justify-center gap-x-5 mt-10 ">
        <a class=" hover:bg-gray-800 rounded text-white py-3 px-5 bg-gray-300" href="/login">Continue Surfing</a>

      </p>
    </div>
    <!--  -->
    <%- include('partials/footer')%>